<%= link_to("<< Back to List", books_path, :class => 'back-link') %>

<div class="books new">
  <h2>Update Books</h2>

  <%= form_for(@book) do |f| %>

    <table summary="Subject form fields">
      <tr>
        <th>Title</th>
        <td><%= f.text_field(:title) %></td>
      </tr>
      <tr>
        <th>Author</th>
        <td><%= f.text_field(:author) %></td>
      </tr>
      <tr>
        <th>Genre</th>
        <td><%= f.select(:genre,  ['Fiction', 'NonFiction']) %></td>
      </tr>
      <tr>
        <th>Price</th>
        <td><%= f.number_field(:price) %></td>
      </tr> 
      <tr>
        <th>Publish Date</th>
        <td><%= f.date_select(:publish_date, start_year: 1900, end_year: 2020) %></td>
      </tr>           
    </table>

    <div class="form-buttons">
      <%= f.submit("Update Book") %>
    </div>

  <% end %>
</div>
