
<% if !flash[:notice].blank? %>
<div class="notice">
  <%= flash[:notice] %>
</div>
<% end %>

<div class="Books index">
  <h2>Books</h2>

  <%= link_to("Add New Books", new_book_path, :class => 'action new') %>

  <table class="listing" summary="Books list">
    <tr class="header">
      <th>Title</th>
      <th>Actions</th>
    </tr>
    <% @books.each do |book| %>
    <tr>
      <td><%= book.title %></td>
      <td class="actions">
        <%= link_to( book_path(book), :class => 'action show') do%>
        <button type="button" class="btn btn-primary">Show</button>
        <% end%>
        <%= link_to(edit_book_path(book), :class => 'action edit') do%>
        <button type="button" class="btn btn-primary">Edit</button>
        <% end%>        
        <%= link_to(delete_book_path(book), :class => 'action delete') do%>
        <button type="button" class="btn btn-primary">Delete</button>
        <% end%>                                
      </td>
    </tr>
    <% end %>
  </table>
</div>
